{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="static/CSS/home.css">

    <div class="Home">
        <h2 class="container-fluid hed">The Maclife Kitchen</h2>
        <p>"Indulge in a culinary adventure unlike any other at The Maclife Kitchen.
            Our team of passionate chefs create delectable dishes from the freshest ingredients,
            tantalizing your taste buds with every bite. Located in the heart of Nairobi,
            our restaurant offers a warm and welcoming atmosphere, perfect for intimate gatherings or corporate events.
            We also provide outside catering and online booking services for your convenience.
            Discover the Maclife experience today and satisfy your craving for exceptional cuisine."</p>
    </div>
    <div class="content">
        <div class="text">
            <h1>Explore <span>Our</span> Culinary <span>Journey</span></h1>
            <p>The Maclife Kitchen is a premier restaurant in Nairobi that specializes in serving authentic African cuisine.
                Our culinary team is dedicated to bringing you the finest flavors from the continent,
                using only the freshest and most flavorful ingredients.
                </p>
        </div>
        <div class="image">
            <img src="static/CSS/Images/plate.jpg" alt="...">
        </div>

    </div>
    <div class="content2">
        <div class="image">
            <img src="static/CSS/Images/serv_anim.png" alt="...">
        </div>
        <div class="text">
            <h1>Book a Table</h1>
            <p class="bullet">Opens 0900hrs to 2300hrs, every day of the week</p>
            <p>Looking for a cozy spot for dinner or a special occasion?
                The Maclife Kitchen offers authentic African cuisine,
                with rare indigenous delicacies, in a relaxed atmosphere perfect
                for date nights, family dinners or business meetings.
                Book your table today and experience our warm hospitality.</p>
        </div>
        <div class="btn btn-sm btn" style="font-size: 200%; background-color: yellow;">
            <a href="/booking" style="font-size: 100%; color: brown; text-decoration: none;">Book a Table</a>
        </div>
    </div>
    <div class="content1">
        <h2>How good are we?</h2>
        <p class="container">
            At The Maclife Kitchen, we pride ourselves on providing an exceptional culinary experience that
            leaves our customers salivating for more. Our restaurant is a testament to our commitment to excellence,
            with an inviting atmosphere and top-notch service that complement our mouth-watering dishes.
            From traditional African cuisine to modern twists on local Kenyan favorites, our menu is sure to satisfy
            even the most discerning palates. Whether you're looking for a quick bite or a leisurely meal with friends
            and family, we guarantee that every visit to The Maclife Kitchen will be a memorable one.
        </p>
    </div>

{% endblock %}
