{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="/static/CSS/about.css">
    <div class="about">
        <h2>About us</h2>
    </div>

    <div class="container story">
        <h3>Our Story</h3>
        At The Maclife Kitchen, we believe that food is not just about sustenance,
        but also about creating memories and experiences.
        Our story began with a passion for good food and a desire to share it with others.
        It all started in a small kitchen in the heart of Kahawa Wendani, where we experimented
        with different ingredients and techniques until we found the perfect combination that would
        satisfy our taste buds and those of our friends and family.
    </div>
    <div class="values">
    As our reputation grew, we decided to take things to the next level and open our own restaurant.
        We wanted to create a space that would be warm, welcoming, and reflective of our values: freshness,
        creativity, and community. We scouted for the perfect location, and finally settled on JJ Gardens, a serene
        and picturesque spot off Magunas Drive.
    </div>
    <div class="container cuisine">
    At The Maclife Kitchen, we specialize in fusion cuisine that blends African, European, and Asian flavors in
        unexpected and delightful ways. Our menu features a wide range of dishes, from classics like burgers and pizzas
        to more exotic fare like jollof rice and sushi rolls. All our dishes are made from scratch using only the
        freshest ingredients, and are designed to tantalize your taste buds and leave you craving for more.
    </div>
    <div class="pride">
        <h3>Our Pride</h3>
    But the Maclife experience is not just about the food. We pride ourselves on providing a complete sensory experience,
        from the rustic decor to the ambient music and the friendly service. Our team is made up of passionate and
        talented individuals who share our vision for creating a dining experience that is as memorable as it is delicious.

    So whether you're looking for a cozy spot to enjoy a meal with your loved ones,
        a place to celebrate a special occasion, or a venue for your corporate events,
        The Maclife Kitchen is the perfect destination. Come and join us on a culinary
        journey that will leave you feeling satisfied, inspired, and wanting more.
    </div>
{% endblock %}
